{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<div>
<form method = 'GET'>
<input type='tel' name='idd' required placeholder='id' autofocus>
<input type='text' name='nam' required placeholder='student name' autofocus>
<input type='text' name='emai' required placeholder='student email' autofocus>
<input type='text' name='pas' required placeholder='student pass' autofocus>
<input type='text' name='com' required placeholder='student comment' autofocus>
<input type='submit'>
</form>
</div>
{% endblock content %}