body {
	background-color:#000033;
	color:white;
}

.cntd {
	list-style-type:none;
}

.logo_container {
	font-size:20pt;
	font-weight:bold;
}

.sur {
	font-size:12pt;
}

.under_line {
	height:5px;
	background-color:white;
	
}

ul li {
	font-size:20pt;
}

.endtitle {
	background-color:grey;
	color:black;
	width:100%;
}

