<! Doctype html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='device-width,initial-scale=1.0'>
<title> Profile Page </title>
</head>
<body>
<div>
This is Profile Page
<h1>Welcome {{user}}</h1>

<form action='' method='POST' novalidate>
{% csrf_token %}
{% if messages %}
{% for msg in messages %}
{{msg}}<br><br>
{% endfor %}
{% endif %}

{% for form in frm %}
{{form.label_tag}} {{form}} {{form.errors | striptags }}<br><br>
{% endfor %}
<input type='submit'>
</form>

</div>
<a href='{% url "logout" %}'>Logout </a>
<a href='{% url "main" %}'>Main Page </a>
<a href='{% url "passchange" %}'>Change Password</a>
</body>
</html>
